@page "{nameParam?}"
@model Index

@{
    Layout = Layout;

    var modalState = false;

}


<section class="table-wrapper">

    <h1>
        SQL Example
    </h1>


    @* <form METHOD="get" class="form d-flex gap-4 py-2 mb-2"> *@
    @*     <input class="fs-4 input-group-text" asp-for="nameParam" type="search"/> *@
    @*     <input class="btn fs-5 flex-grow-1 btn-sm btn-outline-danger" value="Search" type="submit"> *@
    @*     <a asp-page-handler="Refresh" value="Back" class="btn fs-5 d-flex align-items-center justify-content-center flex-grow-1 btn-sm btn-outline-danger">Refresh</a> *@
    @* </form> *@

    @* <div class="table-wrapper"> *@
    @*     <table class="sql-table"> *@
    @*         <tr class="main-row"> *@
    @*             <th class="main-heading"> *@
    @*                 User Info *@
    @*             </th> *@
    @*             <td> *@
    @*                 <button class="update-button">Update</button> *@
    @*             </td> *@
    @*             <td> *@
    @*                 <a href="Blogs/Addusers" type="button"> *@
    @* <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"> *@
    @*     <path fill="white" d="M11 9h4v2h-4v4H9v-4H5V9h4V5h2v4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16z"/> *@
    @* </svg> *@
    @*                 </a> *@
    @*             </td> *@
    @* *@
    @*             <td> *@
    @* <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> *@
    @*     <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z"/> *@
    @* </svg> *@
    @*             </td> *@
    @*         </tr> *@
    @*         <tr class="sql-columns"> *@
    @*             <th>User</th> *@
    @*             <th>ID</th> *@
    @*             <th>State</th> *@
    @*             <th>City</th> *@
    @*             <th aria-hidden="true" class="holder">holder</th> *@
    @*         </tr> *@
    @*         @foreach (var user in Model.newUsers) *@
    @*         { *@
    @*                 $1$ <tr class="sql-data"> #1# *@
    @*                 $1$     <td class=""> #1# *@
    @*                 $1$         @user.City #1# *@
    @*                 $1$     </td> #1# *@
    @*                 $1$     <td class="">@user.Name</td> #1# *@
    @*                 $1$     <td class="">@user.Id</td> #1# *@
    @*                 $1$     <td class="">@user.State</td> #1# *@
    @*                 $1$     <td> #1# *@
    @*                 $1$         <button data-toggle="modal" onclick="showModal()">Delete</button> #1# *@
    @*                 $1$     </td> #1# *@
    @*                 $1$ </tr> #1# *@
    @*         } *@
    @*     </table> *@
    @* </div> *@

    <table class="table-flex">

        <tr>
            <ul class="list-one">
                <li class="uInfo">User Info</li>
                <li>
                    <button>update</button>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path fill="white" d="M11 9h4v2h-4v4H9v-4H5V9h4V5h2v4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16z"/>
                    </svg>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z"/>
                    </svg>
                </li>
            </ul>
        </tr>

        <thead class="table-head">
        <tr>
            <th>City</th><th>Name</th><th>ID</th><th>State</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var user in Model.newUsers)
        {
            <tr>
                <td>@user.City</td>
                <td>@user.Name</td>
                <td>@user.Id</td>
                <td>@user.State</td>
            </tr>
        }
        </tbody>

    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title h2" id="exampleModalLongTitle">Delete User</h5>
                    <button type="button" class="myModalX btn btn-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <form class="d-flex gap-2 align-content-center" asp-page-handler="DeleteUserWithId" method="POST">
                        <input class="h-auto" placeholder="ID" asp-for="newUsersModel.Id" type="text">
                        <input class="btn btn-sm btn-danger" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>


<style>
    .lob>td{
    color:purple;
    }
    .lob:hover{font-weight: bolder; transition: ease-in-out .2s;cursor: url("http://www.rw-designer.com/cursor-extern.php?id=5311"),auto}
</style>

@section Scripts{
    <script type="text/javascript">

    $('[data-toggle=modal],[data-dismiss]').on('click',function (){
        $('#myModal').modal('toggle');
    });




</script>
}